
$primary: #606c38ff;
$secondary: #bc6c25ff;
$info: #dda15eff;
$dark: #283618ff;
$light: #fefae0ff;
$off-white: #f0ead6;

$body-bg: $dark;
$color: $off-white;
$body-color: $color;
$link-color: $color;
$h2-font-size: 24px;


@import "../../node_modules/bootstrap/scss/bootstrap";

h2 {
  color: $color;
}

//{
//  --off-white: #f0ead6;
//  --main: #606c38ff;
//  --dark: #283618ff;
//  --highligth: #fefae0ff;
//  --light: #dda15eff;
//  --comp: #bc6c25ff;
//}
